<div class="transaction-form-wrapper">
  <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <label>
      <p>Date:</p>
      <input type="date" formControlName="date">
    </label>
    <label>
      <p>Amount:</p>
      <input type="number" formControlName="amount">
    </label>
    <label>
      <p>Comment:</p>
      <input type="text" formControlName="comment">
    </label>
    <label>
      <p>Category:</p>
      <select class="select" formControlName="category">
        <option value="" disabled>Choose a category</option>
        <option *ngFor="let category of categories" [ngValue]="category">{{category[1]}} | {{category[2]}}</option>
      </select>
    </label>
    <label *ngIf="isNotIncome()">
      <p>Split With:</p>
      <select class="select" formControlName="person">
        <option value="" disabled>Who to split with</option>
        <option *ngFor="let person of people" [ngValue]="person">{{ person.name }}</option>
      </select>
    </label>
    <label *ngIf="isSplitTransaction() && isNotIncome()">
      <p>% Paid by Me:</p>
      <input class="percentage-label" type="number" formControlName="myPortion" max="100" min="0">
    </label>
    <button type=submit [disabled]="!transactionForm.valid" class="btn btn-success"> Submit </button>
  </form>
</div>
