@import '../../../global-styles/app-styles.scss';

.card-wrapper {
  margin-top: 20px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
}

.transaction-grid {
  margin: 7px;
}
